#corpus-oferta {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    overflow: hidden;
    
    .corpus-oferta-spectral {
        line-height: 70px;
        width: 100%;
        text-align: center;
        padding: 0 $general-mobile-margin;
    }
    .corpus-oferta-paragraph {
        width: 100%;
        text-align: center;
        padding: 0 $general-mobile-margin;
    }

    .corpus-oferta_quotes--positioner {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 9vw $general-mobile-margin;
        
    }
    .corpus-oferta_quotes-m-fl {
        width: 100%;
        position: relative;
        img{
            position: relative;
            top: 0;
            left: 58%;
            width: 42%;
        }
    }
    .corpus-oferta_quotes-t-br {
        width: 100%;
        position: relative;
        img {
            position: relative;
            top: 0;
            left: 0%;
            width: 42%;
        }
    }
    .corpus-oferta_quotes-m-fl,
    .corpus-oferta_quotes-t-br {
        p {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            span {
                display: block;
                margin: 0; padding: 0;
                text-align: center;
            }
        }
    }
}

@media only screen and (min-width: 900px){
    #corpus-oferta {
        position: absolute;
        top: -10vw;
        left: 0;
        z-index: 0;
        width: 100%;
        overflow: hidden;
        
        .corpus-oferta-spectral {
            line-height: 70px;
            width: 100%;
            text-align: center;
            padding: 0 $general-mobile-margin;
        }
        .corpus-oferta-paragraph {
            width: 100%;
            text-align: center;
            padding: 0 $general-mobile-margin;
            max-width: 1000px;
            margin: 0 auto;
        }

        .corpus-oferta_quotes--positioner {
            display: none;
        }
    }
}

//react slider
.corpus-oferta_slider--positioner{
    width: 100%;
    margin-top: 2.5vw;
    .corpus-oferta_slider--container {
        //width: 400%;
        grid-template-columns: repeat(4, 20%);
        grid-column-gap: 1.25%;
        left: 10%;
        .corpus-oferta_slider--item {
            box-sizing: border-box;
            padding: 0;
            padding-bottom: 70px; 
        }
    }
}

@media only screen and (min-width: 900px){
    .corpus-oferta_slider--positioner{
        width: 100%;
        margin-top: 2.5vw;
        padding: 0 $general-mobile-margin;
        overflow: visible;
        @media only screen and (min-width: 1460px) {
            padding: 0 $general-desktop-margin;
        }
        .corpus-oferta_slider--container {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            @media only screen and (min-width: 1350px){
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: auto;
            }
            grid-template-rows: auto;
            grid-row-gap: 0.83vw;
            grid-column-gap: 0.83vw;
            position: static;
            margin: 0 auto;
            .corpus-oferta_slider--item {
                box-sizing: border-box;
                padding: 0;
            }
        }
    }
}
