#kompetencje-04{
    width:100%;
    margin-top: 2vw;
    overflow: hidden;
    .kompetencje-04_title {
        text-align: center;
        width: 100%;
        margin-bottom: 1.25vw;
    }
    .kompetencje-04--positioner {
        .img--positioner{
            @media only screen and (max-width: 899px){
                display: none;
            }
        }
    }

    @media only screen and (min-width: 900px){
        h1 {
            text-align: center;
            width: 100%;
            margin: 50px 0 41px 0;
        }
        .kompetencje-04--positioner {
            .img--positioner{
                position: relative;
                z-index: -1;
                .img--container{
                     position: absolute;
                     z-index: 0;
                     bottom: 0;
                     right: 0;
                     width: 100%;
                }
            }
        }
    }
}

#kompetencje-04 {
    .slider {
        width: 100%;
        display: flex;
        justify-content: center;
        @media screen and (min-width: 900px){
            display: none;
        }
    }
    .bullet {
        width: 8px;
        height: 8px;
        margin: 8px;
        border-radius: 4px;
        background-color: $dark;
    }
    .activebullet {
        background-color: $awaits;
    }
}