.h1-spectral-kompetencje {
    font-family: $spectral;
    @include spectral-bold;
    color: $dark;
    margin: 0;
    padding: 0;
    font-size: 32px;
    line-height: 55px;
    @media only screen and (min-width: 900px) {
        font-size: 42px;
        line-height: 70px;
        @include spectral-bold;
    }
}

.h2-spectral-kompetencje {
    font-family: $spectral;
    @include spectral-bold;
    color: $dark;
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 40px;
    @media only screen and (min-width: 900px) {
        font-size: 24px;
        line-height: 40px;
        @include spectral-bold;
    }
}

.item-sans-kompetencje {
    font-family: $sans;
    @include sans-regular;
    color: $dark;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    @media only screen and (min-width: 900px) {
        font-size: 16px;
        line-height: 26px;
        @include sans-regular;
    }
}

#kompetencje-04{
    width:100%;
    margin-top: 40px;
    @media screen and (min-width: 900px){
        margin-top: 0;
    }
    .kompetencje-04_title {
        text-align: center;
        width: 100%;
        margin-bottom: 2.13%;
    }
    .kompetencje-04_slider--positioner {
        .img--positioner{
            @media only screen and (max-width: 899px){
                display: none;
            }
        }
    }

    @media only screen and (min-width: 900px){
        .kompetencje-04_slider--positioner {
            .img--positioner{
                position: relative;
                z-index: -1;
                -ms-grid-column: 2;
                .img--container{
                    position: absolute;
                    z-index: 0;
                    bottom: 50%;
                    margin-bottom: -50%;
                    right: 0;
                    width: 100%;
                }
            }
        }
    }
}

//react slider
/*.kompetencje-04_slider--positioner{
    width: 100%;

    display: -ms-grid;
    -ms-grid-rows: auto;
    -ms-grid-columns: 100%;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    padding-bottom: 70px;
    .kompetencje-04_slider--container {
        padding: 0;
        grid-column-gap: 5vw;
        left: 10%;
        margin-bottom: 44px;
        .kompetencje-04_slider--item {
            box-sizing: border-box;
            padding: 0; 
        }
    }
}*/

@media only screen and (min-width: 900px){
    .kompetencje.react-slider--positioner.kompetencje-04_slider--positioner{
        width: 100%;
        margin-top: 2.5vw;
        overflow: visible;

        display: -ms-grid;
        -ms-grid-rows: auto;
        -ms-grid-columns: 1fr 1fr;

        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr; 
        padding-left: $general-desktop-margin;
        grid-column-gap: 1.96%;
        .kompetencje.react-slider--container.kompetencje-04_slider--container {
            width: 100%;

            display: -ms-grid;
            -ms-grid-rows: auto;
            -ms-grid-columns: 1fr 1fr;

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-row-gap: 16px;

            grid-column-gap: 1.96%;
            position: static;
            margin: 0 auto;
            .kompetencje.react-slider--item.kompetencje-04_slider--item {
                box-sizing: border-box;
                padding: 0;
                width: auto;
                margin-right: 0;
               /*&:nth-of-type(1){
                    -ms-grid-column: 1;
                    -ms-grid-row: 1;
                }
                &:nth-of-type(2){
                    -ms-grid-column: 2;
                    -ms-grid-row: 1;
                }
                &:nth-of-type(3){
                    -ms-grid-column: 1;
                    -ms-grid-row: 2;
                }
                &:nth-of-type(4){
                    -ms-grid-column: 2;
                    -ms-grid-row: 2;
                }*/
            }
        }
    }
}


