//general, always true
#footer-08{
    margin-top: 80px;
    width: 100%;
    padding: 0 $general-mobile-margin;
    @media only screen and (min-width:900px){
        padding: 0 $general-desktop-margin;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  
    .footer-08--container{
        width: 100%;
    }

    .footer-08--bottom-container{
        width: 100%;
        color: $twilight;
        text-align: center;
        margin: 20px 0;
    }
}

//mobile
#footer-08 .footer-08--container {
    padding-bottom: 50px;
    border-top: solid 1px $vline;
    border-bottom: solid 1px $vline;    
    @media screen and (max-width: 699px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-08--item {
        width: 100%;
    }
   .footer-08_title {
       margin: 15px 0;
       width: 100%;
       text-align: center;
   }
   ul {
       list-style: none;
       margin: 0;
       padding: 0;
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       li {
           list-style: none;
           margin: 0;
           padding: 0;
           text-align: center;

           a {
               text-decoration: none;
               color: inherit;
               margin-top: 18px;
               &:hover, &:active, &:visited {
                   color: inherit;
                   text-decoration: none;
               }
           }
       }
   }
   ul.footer-08_socjal-media{
       flex-direction: row;
       justify-content: center;
       li {
           margin-right: 12px;
           width: 60px;
           height: 60px;
           a{
               margin: 0;
           }
           &:last-of-type{
               margin-right: 0;
           }
       }
   }
}

@media screen and (min-width: 700px){
    #footer-08 .footer-08--container {
        padding: 0 10% 50px 10%;
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr;
        -ms-grid-rows: auto auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;

        .footer-08--item {
            &:nth-of-type(1){
                -ms-grid-row: 1;
                -ms-grid-column: 1;
            }
            &:nth-of-type(2) {
                -ms-grid-row: 1;
                -ms-grid-column: 2;
            }
            &:nth-of-type(3) {
                -ms-grid-row: 2;
                -ms-grid-column: 1;
            }
            &:nth-of-type(4) {
                -ms-grid-row: 2;
                -ms-grid-column: 2;
            }
        }
        .footer-08_title {
            text-align: left;
        }
        ul {
            align-items: flex-start;
            li {
                text-align: left;
            }
        }
        ul.footer-08_socjal-media{
            flex-direction: row;
            justify-content: flex-start;
        }
    }
}
@media only screen and (min-width: 1000px){
    #footer-08 .footer-08--container {
        padding: 0 5% 50px 7vw;
    }
}

@media only screen and (min-width: 1200px) {
    #footer-08 .footer-08--container {
        padding: 0 5% 50px 10vw;
    }
}
//desktop
@media only screen and (min-width: 1350px) {
    #footer-08 .footer-08--container {
        -ms-grid-columns: 1fr 1fr 1.6fr 1fr;
        -ms-grid-rows: auto;
        grid-template-columns: 1fr 1fr 1.5fr 1fr;
        grid-template-rows: auto;
        padding: 0 7vw 50px 7vw;
        .footer-08--item {
            &:nth-of-type(1){
                -ms-grid-row: 1;
                -ms-grid-column: 1;
            }
            &:nth-of-type(2) {
                -ms-grid-row: 1;
                -ms-grid-column: 2;
            }
            &:nth-of-type(3) {
                -ms-grid-row: 1;
                -ms-grid-column: 3;
            }
            &:nth-of-type(4) {
                -ms-grid-row: 1;
                -ms-grid-column: 4;
            }
        }

    }
}

@media only screen and (min-width: 1450px) {
    #footer-08 .footer-08--container {
        -ms-grid-columns: 300px 300px 400px 300px;
        -ms-grid-rows: auto;        
        grid-template-columns: 300px 300px 400px 300px;
        grid-template-rows: auto;

        .footer-08--item {
            &:nth-of-type(1){
                -ms-grid-row: 1;
                -ms-grid-column: 1;
            }
            &:nth-of-type(2) {
                -ms-grid-row: 1;
                -ms-grid-column: 2;
            }
            &:nth-of-type(3) {
                -ms-grid-row: 1;
                -ms-grid-column: 3;
            }
            &:nth-of-type(4) {
                -ms-grid-row: 1;
                -ms-grid-column: 4;
            }
        }
    }
}