$slider_cover: #FFD448;

.h1-spectral-portfolio {
    font-family: $spectral;
    @include spectral-bold;
    color: $dark;
    margin: 0;
    padding: 0;
    font-size: 32px;
    @media only screen and (min-width: 900px) {
        font-size: 40px;
    }
}

#section-05 { 
    h1 {
        width: 100%;
        text-align: center;
    }
}

//react slider
#section-05 {
    margin-top: 40px;
    @media screen and (min-width: 900px){
        margin-top: 6.19%;
    }
    .portfolio-05_projects--positioner{
        width: 100%;
        margin-top: 16px;
        @media screen and (min-width: 900px){
            margin-top: 2.08%;
        }
        .portfolio-05_projects--container {
            .portfolio-05_projects--item {
                box-sizing: border-box;
            }
        }
    }

    @media only screen and (min-width: 900px){
        .portfolio.react-slider--positioner.portfolio-05_projects--positioner{
            width: 100%;
            margin-top: 2.08vw;
            margin-bottom: 4.16vw;
            padding: 0 $general-desktop-margin;
            .portfolio.react-slider--container.portfolio-05_projects--container {
                width: 100%;
                padding: 0;

                display: -ms-grid;
                -ms-grid-columns: 33.33% 33.33% 33.33%;
                -ms-grid-rows: auto;

                display: grid;
                grid-template-columns: repeat(3, 33.33%);
                grid-template-rows: auto;
                grid-row-gap: 0.83vw;
                grid-column-gap: 0.83vw;
                position: static;
                margin: 0 auto;
                .portfolio.react-slider--item.portfolio-05_projects--item {
                    box-sizing: border-box;
                    width: auto;
                    margin-right: 0;
                    padding-bottom: 0;
                  
                }
            }
        }
    }
    .react-slider.portfolio {
        margin-top: 24px;
    }
}