$slider_cover: #FFD448;

.h1-spectral-portfolio {
    font-family: $spectral;
    @include spectral-bold;
    color: $dark;
    margin: 0;
    padding: 0;
    font-size: 32px;
    line-height: 55px;

    @media only screen and (min-width: 900px) {
        font-size: 40px;
        line-height: 75px;
        @include spectral-bold;
    }
}

#section-05 { 
    h1 {
        width: 100%;
        text-align: center;
    }
}

//react slider
#section-05 {
    margin-top: 40px;
    @media screen and (min-width: 900px){
        margin-top: 6.19%;
    }
    .portfolio-05_projects--positioner{
        width: 100%;
        margin-top: 16px;
        @media screen and (min-width: 900px){
            margin-top: 2.08%;
        }
        .portfolio-05_projects--container {
            width: 600%;
            grid-template-columns: repeat(6, 16.66%);
            .portfolio-05_projects--item {
                box-sizing: border-box;
            }
        }
    }

    @media only screen and (min-width: 900px){
        .portfolio-05_projects--positioner{
            width: 100%;
            margin-top: 2.08vw;
            margin-bottom: 4.16vw;
            padding: 0 $general-desktop-margin;
            .portfolio-05_projects--container {
                width: 100%;
                padding: 0;
                display: grid;
                grid-template-columns: repeat(3, 33.33%);
                grid-template-rows: auto;
                grid-row-gap: 0.83vw;
                grid-column-gap: 0.83vw;
                position: static;
                margin: 0 auto;
                .portfolio-05_projects--item {
                    box-sizing: border-box;
                }
            }
        }
    }
    
}