$general-desktop-col-gap: 0.9756%;

#idea-03{
    margin-top: 40px;
    min-height: 0;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    .idea-03_img--positioner {
        width:100%;
        padding-right: 6.66%;
        padding-top: 4.44%;
        img {
            width: 100%;
        }
    }
    .idea-03--container{
        padding: 0 $general-mobile-margin 0 $general-mobile-margin;
        width: 100%;
        h1, p{
            text-align: center;
            margin: 0 auto 1.2vw auto;
            max-width: 340px;
        }
    }
}

#idea-03{
    @media only screen and (min-width: 900px){
        background-image: url('./media/desktop/SVG/Ilu-home-idea.svg');
        background-repeat: no-repeat;
        background-size: 56.77%;
        background-position: left center;
        margin-top: 7.86%;
        min-height: 43.5vw;
        .idea-03_img--positioner {
            display:none;
        }
        .idea-03--container{
            width: 100%;
            padding: 0 $general-desktop-margin;
            display: grid;
            grid-template-rows: min-content auto;
            grid-template-columns: repeat(12, 1fr);
            grid-column-gap: $general-desktop-col-gap;
            h1{
                text-align: left;
                grid-column-start: 8;
                grid-column-end: 12;
                margin: 19.56% 0 0 0;
                max-width: 1920px;
                @media screen and (max-width: 1300px) {
                    grid-column-end: 13;
                    @media screen and (max-width: 1200px) {
                        text-align: center;
                    }
                }
            }
            p{
                text-align: left;
                grid-column-start: 8;
                grid-column-end: 12;
                margin: 7.46% 0 0 0;
                max-width: 1920px;
                @media screen and (max-width: 1300px) {
                    grid-column-end: 13;
                    @media screen and (max-width: 1200px) {
                        text-align: center;
                    }
                }
            }
        }
    }
}