a.button, div.button {
    width: 260px;
    height: 48px;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $awaits;
    border: solid 1px $btnborder;
    border-style: hidden; 
    
    font-size: 18px;
    font-family: $sans;
    @include sans-semibold;
    color: $light;
    
    @include button-awaits-shadow;
    text-decoration: none;

    cursor: pointer;
    &:hover{
        background-color: $hover;
        @include button-hover-shadow;
        text-decoration: none;
    }
    &:active{
        background-color: $hover;
        @include button-active-shadow;
        text-decoration: none;
    }
    @media only screen and (max-width: 900px){
        width: 216px;
    }
    &.gray-btn {
        background-color: $dark;
        color: $light!important;
        &:hover{
            background-color: $dark;
            color: $light!important;
        }
        &:active{
            background-color: $dark;
            color: $light!important;
        }
    }
}