$mobile-slider-gap: 11vw;
$mobile-slider-half-gap: 5.5vw;

.in-section--positioner {
    width: 400%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    overflow: hidden;
    .tilt--positioner {
        position: relative;
        top: 0;
        left: 0;
        transition: all 600ms;
        padding: 0 $mobile-slider-half-gap 75px $mobile-slider-half-gap;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: $mobile-slider-gap;

        .tilt--container {
            @include tilt-basic-shadow;
            background-color: $light;
            padding: 0 16px;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 1.21fr 1.94fr 1.40fr;

            @media only screen and (min-width: 900px) {
                grid-template-rows: 1.21fr 1.94fr auto;
            }

            .tilt-title {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70%;
                height: 100%;
                text-align: center;
                margin: 0 auto;
            }

            ul {
                list-style: disc;
                margin: 0 auto;
                padding: 0;

                li {
                    margin: 0;
                    padding: 0;
                    font-size: 200%;
                    color: $dark;
                }

                width: 200px;
            }

            a {
                margin: 26px auto 26px auto;
            }
        }
    }
}

@media only screen and (min-width: 900px){
    .in-section--positioner {
        width: 100%;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
        padding-left: $general-desktop-margin;

        .tilt--positioner {
            position: static;
            padding: 0 0 100px 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            grid-row-gap: 16px;
            grid-column-gap: 16px;

            .tilt--container {
                @include tilt-basic-shadow;
                position: relative;
                background-color: $light;
                padding: 0 16px;

                &:nth-of-type(1) {
                    z-index: 1;
                }

                &:nth-of-type(2) {
                    z-index: 1;
                }

                &:nth-of-type(3) {
                    z-index: 2;
                }

                &:nth-of-type(4) {
                    z-index: 2;
                }
            }
        }
    }
}

.react-slider{
    .slider {
        width: 100%;
        display: flex;
        justify-content: center;
        @media screen and (min-width: 900px){
            display: none;
        }
    }
    .bullet {
        width: 8px;
        height: 8px;
        margin: 8px;
        border-radius: 4px;
        background-color: $dark;
    }
    .activebullet {
        background-color: $awaits;
    }
}
@media only screen and (min-width: 900px){
    .react-slider {
        display: none;
    }
}