$mobile-slider-gap: 11vw;
$mobile-slider-half-gap: 5.5vw;

.kompetencje-tilt--container {
    @include tilt-basic-shadow;
    background-color: $light;
    padding: 7.8% 0 0 0;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 2.02fr 4.125fr min-content 0.5fr;

    border-radius: 5px;

    @media only screen and (min-width: 900px) {
        grid-template-rows: 1.21fr 1.94fr auto;
    }

    .tilt-title {
        text-align: center;
        width: 100%;
        padding: 0 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul {
        list-style: disc;
        margin: 0;
        width: 100%;
        min-width: 200px;
        padding: 0 5% 0 20%;
        @media screen and (min-width: 400px){
            padding: 0 10% 0 30%;
        }
        li {
            margin: 0;
            padding: 0;
            font-size: 200%;
            color: $dark;
            &:last-of-type {
                margin-bottom: 10px;
            }
        }
    }

    a {
        margin: 0 auto 20px auto;
    }
}

@media screen and (min-width: 900px) {
    .kompetencje-tilt--container {
        @include tilt-basic-shadow;
        position: relative;
        background-color: $light;
        padding: 10% 5% 0 5%;
        grid-template-rows: 1.1323fr 3.029fr 1fr;
        &:hover{
            transition: all 200ms;
            transform: scale(1.02);
        }
        z-index: 1;
        ul {
            width: 200px;
            margin: 0 auto;
            padding: 0;
            @media only screen and (max-width: 1200px) {
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                li {
                    max-width: 100%;
                    text-align: center;
                }
            }
        }
    }
}