
$general-mobile-margin: 2.25%;
$general-desktop-margin: 7.295%;

#header-02{
    width: 100%;
    padding-left: $general-mobile-margin;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    .header-02--container {  
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto;
    }
    img {
        width: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: right;
        object-position: right;
    }
    .img-desktop--container {
        display: none;
    }
}

#header-02 {
    .header-02--container {
        .header-02_title{
            width:100%;
        }
        .header-02_excerpt {
            width:100%;
        }
        .header-02_button--positioner {
            width:100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;
        }
        .header-02_footinfo--positioner{
            width:100%;
            text-align: center;
            span {
                color: $activeitem
            }
            &:last-of-type {
                margin-bottom: 40px;
            }
        }
    }
}


@media only screen and (min-width: 900px){
    #header-02{
        width: 100%;
        padding-left: $general-desktop-margin;
        display: grid;
        grid-template-columns: 4fr 8fr;
        grid-template-rows: auto;
        .header-02--container {  
            img {
                display: none;
            }
        }
        .img-desktop--container {
            display: inline-block;
            -o-object-fit: contain;
            object-fit: contain;
            -o-object-position: bottom right;
            object-position: bottom right;
            height: 100%;
        }
    }

    #header-02 {
        .header-02--container {
            .header-02_title{
                margin-top: 9vw;
                margin-bottom: 2.3vw;
            }
            .header-02_excerpt {
                margin-bottom: 1.6vw;
                
            }
            .header-02_button--positioner {
                justify-content: flex-start;
                margin-bottom: 9.89vw;
            }
            .header-02_footinfo--positioner{
                text-align: left;
            }
        }
    }
}
