.react-slider {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and(min-width: 900px) {
        display: none;
    }

    .bullet {
        width: 8px;
        height: 8px;
        margin: 8px;
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 4px;
        background-color: #333333;
    }

    .activebullet {
        background-color: #4cbc1d;
    }

    @media only screen and (min-width: 900px) {
        &.slider {
            display: none;
        }
    }
}