#corpus-idea {
    width: 100%;
    p.corpus-idea_paragraph span {
        @include sans-bold;
    }
}

#corpus-idea {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    padding: 0 $general-mobile-margin;
    .corpus-idea--positioner {
        width: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: right bottom;
        object-position: right bottom;
    }

}

@media only screen and (min-width: 900px){
    #corpus-idea {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 4fr 8fr;
        padding: 0 $general-desktop-margin;

        .corpus-idea--positioner {
            position: relative;
        }

        img {
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
            width: 100%;
            -o-object-fit: contain;
            object-fit: contain;
            -o-object-position: right bottom;
            object-position: right bottom;
            height: 100%;
        }

    }
}