.h1-spectral-agencja {
    font-family: $spectral;
    @include spectral-bold;
    color: $dark;
    margin: 0;
    padding: 0;
    font-size: 32px;
    @media only screen and (min-width: 900px) {
        font-size: 42px;
        @include spectral-bold;
    }
}

.paragraph-sans-agencja {
    color: $dark;
    font-family: $sans;
    @include sans-light;
    font-size: 16px;
    margin: 0;
    padding:0;
    @media only screen and (min-width: 900px){
        font-size: 20px;
        line-height: 33px;
    }
}

#agencja-06{
    margin-top: 40px;
    width: 100%;
    padding: 0 $general-mobile-margin;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    .agencja-06_title {
        width: 100%;
        text-align: center;
    }
    .agencja-06_paragraph {
        width: 100%;
        text-align: center;
        margin-top: 16px;
    }
    .agencja-06_button {
        display: none;
    }
    .agencja-06_img {
        width: 100%;
        margin-top: 26px;
    }
    .agencja-06_container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        margin-top: 16px;
        .agencja-06-subtitle{
            line-height: 75px;
            width: 100%;
            text-align: center;
        }
        .agencja-06-subparagraph {
            width: 100%;
            text-align: center;
            line-height: 33px;
        }
        .agencja-06-subbutton {
            margin: 24px auto;
        }
    }
}

@media only screen and (min-width: 900px){
    #agencja-06{
        width: 100%;
        padding: 0 $general-desktop-margin;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto;
        .agencja-06_title {
            grid-column-start: 1;
            grid-column-end: 3;
            width: 100%;
            text-align: center;
        }
        .agencja-06_paragraph {
            grid-column-start: 1;
            grid-column-end: 3;
            width: 100%;
            text-align: center;
        }
        .agencja-06_button {
            grid-column-start: 1;
            grid-column-end: 3;
            display: flex;
            margin: 3.84vw auto;
        }
        .agencja-06_img {
            grid-column-start: 1;
            grid-column-end: 3;
            width: 100%;
            margin-top: 26px;
        }
        .agencja-06_container {
            position: relative;
            &:first-of-type{
                margin-left: 33%;
                margin-right: 16%;
            }
            &:last-of-type {
                margin-left: 0;
                margin-right: 49%;
            }
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 88px auto 88px;
            @media only screen and (max-width: 1222px){
                &:first-of-type {
                    margin-left: 16%;
                    margin-right: 16%;
                }

                &:last-of-type {
                    margin-left: 16%;
                    margin-right: 16%;
                }
            }
            .agencja-06-subtitle{
                line-height: 75px;
                width: 100%;
                text-align: left;
            }
            .agencja-06-subparagraph {
                width: 100%;
                text-align: left;
                line-height: 33px;
            }
            .agencja-06-subbutton {
                margin: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                grid-row-start: 3;
                grid-row-end: 4;
                grid-column-start: 1;
                grid-column-end: 2;
            }
        }
    }
}