@import url(https://fonts.googleapis.com/css?family=Open+Sans:600|Source+Sans+Pro:300,400,400i,600,700|Source+Serif+Pro:400,600,700|Spectral:600,700&subset=latin-ext);a.button {
  width: 260px;
  height: 48px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4CBC1D;
  border: solid 1px #00A11B;
  border-style: hidden;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none; }
  a.button:hover {
    background-color: #42a319;
    -webkit-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.1);
    text-decoration: none; }
  a.button:active {
    background-color: #42a319;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    text-decoration: none; }
  @media only screen and (max-width: 900px) {
    a.button {
      width: 216px; } }

h1.spectral {
  font-family: "Spectral", serif;
  font-weight: 700;
  color: #333333;
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 50px; }
  @media only screen and (min-width: 900px) {
    h1.spectral {
      font-size: 42px;
      line-height: 70px;
      font-weight: 700; } }

h2.spectral {
  font-family: "Spectral", serif;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  line-height: 40px;
  margin: 0;
  padding: 0; }

h2.spectral-scalable {
  font-family: "Spectral", serif;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  line-height: 40px;
  margin: 0;
  padding: 0; }
  @media only screen and (min-width: 900px) {
    h2.spectral-scalable {
      font-size: 32px;
      line-height: 50px; } }

h2.serif {
  font-family: "Spectral", serif;
  font-size: 32px;
  font-weight: 700;
  color: #333333;
  line-height: 50px;
  margin: 0;
  padding: 0; }

.excerpt {
  color: #333333;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 33px;
  margin: 0;
  padding: 0; }
  @media only screen and (min-width: 900px) {
    .excerpt {
      font-size: 24px;
      line-height: 40px; } }

.paragraph {
  color: #333333;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  padding: 0; }
  @media only screen and (min-width: 900px) {
    .paragraph {
      font-size: 20px;
      line-height: 33px; } }

.hashtag {
  color: #333333;
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  margin: 0;
  padding: 0; }
  @media only screen and (min-width: 900px) {
    .hashtag {
      font-size: 24px;
      line-height: 40px; } }

.list-item {
  color: #333333;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  padding: 0; }

.footinfo {
  color: #333333;
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  margin: 0;
  padding: 0; }
  @media only screen and (min-width: 900px) {
    .footinfo {
      font-size: 24px;
      line-height: 40px; } }

#navbar-01 #navbelt-mobile--toggler {
  display: none; }

#navbar-01 .navbelt-mobile--container {
  display: none; }

#navbar-01 .navbelt-desktop--container {
  display: none; }

#navbar-01 {
  box-sizing: border-box;
  width: 100%;
  max-width: 1640px;
  margin: 0 auto;
  height: 64px; }
  @media only screen and (min-width: 900px) {
    #navbar-01 {
      height: 140px; } }
  #navbar-01 nav {
    background-color: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    height: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    transition: all 600ms;
    top: -100px; }
    @media only screen and (min-width: 900px) {
      #navbar-01 nav {
        height: 140px; } }
    #navbar-01 nav.fixed {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100; }
    #navbar-01 nav ul {
      position: relative;
      z-index: 100; }

@media only screen and (max-width: 899px) {
  #navbar-01 #navbelt-mobile--toggler {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-right: 7px;
    height: 64px; }
    #navbar-01 #navbelt-mobile--toggler li {
      display: block;
      height: 100%; }
    #navbar-01 #navbelt-mobile--toggler span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-family: "Source Serif Pro", serif;
      font-size: 18px;
      font-weight: 600;
      color: #333333; }
      #navbar-01 #navbelt-mobile--toggler span i {
        padding-left: 10px; } }

@media only screen and (min-width: 900px) {
  #navbar-01 .navbelt-desktop--container {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    height: 140px;
    font-family: "Source Serif Pro", serif;
    font-weight: 600;
    font-size: 24px;
    color: #4d4d4d; }
    #navbar-01 .navbelt-desktop--container li {
      display: block;
      padding: 0 20px;
      height: 60px;
      box-sizing: border-box;
      margin: 0; }
      #navbar-01 .navbelt-desktop--container li.navbelt-desktop_contact {
        border-left: solid 1px #E6E6E6; }
    #navbar-01 .navbelt-desktop--container a, #navbar-01 .navbelt-desktop--container span {
      cursor: pointer;
      user-select: none;
      height: 60px;
      color: #4d4d4d;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center; }
      #navbar-01 .navbelt-desktop--container a:hover, #navbar-01 .navbelt-desktop--container span:hover {
        text-decoration: none;
        color: #61D375; }
      #navbar-01 .navbelt-desktop--container a:active, #navbar-01 .navbelt-desktop--container span:active {
        text-decoration: none;
        color: #61D375; }
      #navbar-01 .navbelt-desktop--container a i, #navbar-01 .navbelt-desktop--container span i {
        color: #4d4d4d !important;
        padding-left: 20px; } }

#navbar-01 .navbelt-desktop--container .navbelt-lang {
  position: relative; }
  #navbar-01 .navbelt-desktop--container .navbelt-lang .navbelt-lang_dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    width: 100%;
    border-left: solid 1px #E6E6E6;
    padding: 0;
    display: none; }
    #navbar-01 .navbelt-desktop--container .navbelt-lang .navbelt-lang_dropdown.isActive {
      display: block;
      animation: fade-in 600ms forwards; }
    #navbar-01 .navbelt-desktop--container .navbelt-lang .navbelt-lang_dropdown li {
      width: 100%;
      padding: 0;
      padding-left: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      background: #FFFFFF;
      margin: 0;
      cursor: pointer;
      user-select: none; }
      #navbar-01 .navbelt-desktop--container .navbelt-lang .navbelt-lang_dropdown li:hover {
        text-decoration: none;
        color: #61D375; }
      #navbar-01 .navbelt-desktop--container .navbelt-lang .navbelt-lang_dropdown li:active {
        text-decoration: none;
        color: #61D375; }

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@media only screen and (max-width: 899px) {
  #navbar-01 .navbelt-mobile--container {
    display: none;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    background-color: #FFFFFF;
    font-family: "Source Serif Pro", serif;
    font-size: 24px;
    font-weight: 700; }
    #navbar-01 .navbelt-mobile--container.isToggled {
      display: flex;
      flex-direction: column;
      opacity: 0;
      animation: fade-in 600ms forwards; }
    #navbar-01 .navbelt-mobile--container li {
      cursor: pointer;
      display: block;
      padding: 0 20px;
      height: 25px;
      margin: 0;
      margin-top: 25px;
      box-sizing: border-box; }
      #navbar-01 .navbelt-mobile--container li.navbelt-lang {
        order: 10; }
        #navbar-01 .navbelt-mobile--container li.navbelt-lang .navbelt-lang_dropdown {
          font-family: "Source Serif Pro", serif;
          font-size: 16px;
          font-weight: 600;
          color: #333333; }
          #navbar-01 .navbelt-mobile--container li.navbelt-lang .navbelt-lang_dropdown li {
            border-bottom: solid 1px #E6E6E6; }
            #navbar-01 .navbelt-mobile--container li.navbelt-lang .navbelt-lang_dropdown li:last-of-type {
              border-bottom: none; }
    #navbar-01 .navbelt-mobile--container a, #navbar-01 .navbelt-mobile--container span {
      user-select: none;
      height: 25px;
      color: #4d4d4d;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center; }
      #navbar-01 .navbelt-mobile--container a:active, #navbar-01 .navbelt-mobile--container span:active {
        text-decoration: none;
        color: #61D375; }
      #navbar-01 .navbelt-mobile--container a i, #navbar-01 .navbelt-mobile--container span i {
        color: #4d4d4d !important;
        padding-left: 20px; } }

#header-02 {
  width: 100%;
  padding-left: 2.25%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto; }
  #header-02 .header-02--container {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto; }
  #header-02 img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: right;
    object-position: right; }
  #header-02 .img-desktop--container {
    display: none; }

#header-02 .header-02--container .header-02_title {
  width: 100%; }

#header-02 .header-02--container .header-02_excerpt {
  width: 100%; }

#header-02 .header-02--container .header-02_button--positioner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px; }

#header-02 .header-02--container .header-02_footinfo--positioner {
  width: 100%;
  text-align: center; }
  #header-02 .header-02--container .header-02_footinfo--positioner span {
    color: #61D375; }
  #header-02 .header-02--container .header-02_footinfo--positioner:last-of-type {
    margin-bottom: 40px; }

@media only screen and (min-width: 900px) {
  #header-02 {
    width: 100%;
    padding-left: 7.295%;
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-template-rows: auto; }
    #header-02 .header-02--container img {
      display: none; }
    #header-02 .img-desktop--container {
      display: inline-block;
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: bottom right;
      object-position: bottom right;
      height: 100%; }
  #header-02 .header-02--container .header-02_title {
    margin-top: 9vw;
    margin-bottom: 2.3vw; }
  #header-02 .header-02--container .header-02_excerpt {
    margin-bottom: 1.6vw; }
  #header-02 .header-02--container .header-02_button--positioner {
    justify-content: flex-start;
    margin-bottom: 9.89vw; }
  #header-02 .header-02--container .header-02_footinfo--positioner {
    text-align: left; } }

#idea-03 {
  min-height: 0;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 100%; }
  #idea-03 img {
    width: 90%; }
  #idea-03 .idea-03--container {
    padding: 0 2.25% 0 2.25%;
    width: 100%; }
    #idea-03 .idea-03--container h1, #idea-03 .idea-03--container p {
      text-align: center; }
    #idea-03 .idea-03--container h1 {
      margin-bottom: 1.2vw; }
    #idea-03 .idea-03--container p {
      margin-bottom: 1.2vw; }

@media only screen and (min-width: 900px) {
  #idea-03 {
    margin-top: 7.86vw;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 7fr 5fr;
    grid-column-gap: 1.2vw; }
    #idea-03 img {
      width: 100%;
      height: 100%;
      order: 1;
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: left bottom;
      object-position: left bottom; }
    #idea-03 .idea-03--container {
      padding: 0;
      order: 2;
      width: 100%;
      height: 100%;
      max-width: 400px;
      padding-top: 5.62vw;
      padding-bottom: 17.62vw; }
      #idea-03 .idea-03--container h1 {
        text-align: left;
        margin-bottom: 2.1vw; }
      #idea-03 .idea-03--container p {
        text-align: left;
        margin: 0; } }

#kompetencje-04 {
  width: 100%;
  margin-top: 2vw;
  overflow: hidden; }
  #kompetencje-04 .kompetencje-04_title {
    text-align: center;
    width: 100%;
    margin-bottom: 1.25vw; }
  #kompetencje-04 .kompetencje-04--positioner {
    width: 400%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr; }
    #kompetencje-04 .kompetencje-04--positioner .tilt--positioner {
      position: relative;
      top: 0;
      left: 0;
      transition: all 600ms;
      padding: 0 5.5vw 50px 5.5vw;
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-column-gap: 11vw; }
      #kompetencje-04 .kompetencje-04--positioner .tilt--positioner .tilt--container {
        -webkit-box-shadow: 0px 50px 40px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 50px 40px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 50px 40px 0px rgba(0, 0, 0, 0.1);
        background-color: #FFFFFF;
        padding: 0 16px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1.21fr 1.94fr 1.40fr; }
        @media only screen and (min-width: 900px) {
          #kompetencje-04 .kompetencje-04--positioner .tilt--positioner .tilt--container {
            grid-template-rows: 1.21fr 1.94fr auto; } }
        #kompetencje-04 .kompetencje-04--positioner .tilt--positioner .tilt--container .tilt-title {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70%;
          height: 100%;
          text-align: center;
          margin: 0 auto; }
        #kompetencje-04 .kompetencje-04--positioner .tilt--positioner .tilt--container ul {
          margin: 0 auto;
          padding: 0;
          width: 200px; }
          #kompetencje-04 .kompetencje-04--positioner .tilt--positioner .tilt--container ul li {
            margin: 0;
            padding: 0;
            font-size: 200%;
            color: #333333; }
        #kompetencje-04 .kompetencje-04--positioner .tilt--positioner .tilt--container a {
          margin: 26px auto 26px auto; }
    @media only screen and (max-width: 899px) {
      #kompetencje-04 .kompetencje-04--positioner .img--positioner {
        display: none; } }
  @media only screen and (min-width: 900px) {
    #kompetencje-04 h1 {
      text-align: center;
      width: 100%;
      margin: 50px 0 41px 0; }
    #kompetencje-04 .kompetencje-04--positioner {
      width: 100%;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 16px;
      padding-left: 7.295%; }
      #kompetencje-04 .kompetencje-04--positioner .tilt--positioner {
        position: static;
        padding: 0 0 100px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-row-gap: 16px;
        grid-column-gap: 16px; }
        #kompetencje-04 .kompetencje-04--positioner .tilt--positioner .tilt--container {
          -webkit-box-shadow: 0px 50px 40px 0px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 0px 50px 40px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 50px 40px 0px rgba(0, 0, 0, 0.1);
          position: relative;
          background-color: #FFFFFF;
          padding: 0 16px; }
          #kompetencje-04 .kompetencje-04--positioner .tilt--positioner .tilt--container:nth-of-type(1) {
            z-index: 1; }
          #kompetencje-04 .kompetencje-04--positioner .tilt--positioner .tilt--container:nth-of-type(2) {
            z-index: 1; }
          #kompetencje-04 .kompetencje-04--positioner .tilt--positioner .tilt--container:nth-of-type(3) {
            z-index: 2; }
          #kompetencje-04 .kompetencje-04--positioner .tilt--positioner .tilt--container:nth-of-type(4) {
            z-index: 2; }
      #kompetencje-04 .kompetencje-04--positioner .img--positioner {
        position: relative;
        z-index: -1; }
        #kompetencje-04 .kompetencje-04--positioner .img--positioner .img--container {
          position: absolute;
          z-index: 0;
          bottom: 0;
          right: 0;
          width: 100%; } }

#kompetencje-04 .slider {
  width: 100%;
  display: flex;
  justify-content: center; }
  @media screen and (min-width: 900px) {
    #kompetencje-04 .slider {
      display: none; } }

#kompetencje-04 .bullet {
  width: 8px;
  height: 8px;
  margin: 8px;
  border-radius: 4px;
  background-color: #333333; }

#kompetencje-04 .activebullet {
  background-color: #4CBC1D; }

#section-05 {
  padding: 0;
  overflow: hidden; }
  #section-05 h1 {
    width: 100%;
    text-align: center; }
  #section-05 .section-05_slider--positioner {
    width: 600%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0;
    position: relative;
    left: 0;
    transition: all 600ms; }
    #section-05 .section-05_slider--positioner .slider--item {
      position: relative;
      overflow: hidden; }
      #section-05 .section-05_slider--positioner .slider--item img {
        width: 100%;
        height: auto; }
      #section-05 .section-05_slider--positioner .slider--item .slider_cover {
        background: #FFD448;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 600ms;
        padding: 7%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; }
        #section-05 .section-05_slider--positioner .slider--item .slider_cover .slider_cover--title {
          text-align: left;
          text-transform: uppercase;
          opacity: 1;
          transition: all 1600ms; }
        #section-05 .section-05_slider--positioner .slider--item .slider_cover .hline {
          width: 100%;
          height: 5px;
          background-color: #333333;
          margin: 5px 0 15px 0;
          opacity: 1;
          transition: all 1600ms; }
        #section-05 .section-05_slider--positioner .slider--item .slider_cover .slider_cover--hash {
          text-transform: capitalize;
          opacity: 1;
          transition: all 1600ms; }

#section-05 .slider {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0; }
  @media screen and (min-width: 900px) {
    #section-05 .slider {
      display: none; } }

#section-05 .bullet {
  width: 8px;
  height: 8px;
  margin: 8px;
  border-radius: 4px;
  background-color: #333333; }

#section-05 .activebullet {
  background-color: #4CBC1D; }

@media only screen and (min-width: 900px) {
  #section-05 {
    padding: 0 7.295%; }
    #section-05 h1 {
      width: 100%;
      text-align: center; }
    #section-05 .section-05_slider--positioner {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      width: 100%;
      position: static; }
      #section-05 .section-05_slider--positioner .slider--item {
        position: relative;
        overflow: hidden; }
        #section-05 .section-05_slider--positioner .slider--item img {
          width: 100%;
          height: auto; }
        #section-05 .section-05_slider--positioner .slider--item .slider_cover {
          background: #FFD448;
          opacity: 0.8;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 100%;
          left: 0;
          transition: all 600ms;
          padding: 7%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end; }
          #section-05 .section-05_slider--positioner .slider--item .slider_cover .slider_cover--title {
            text-align: left;
            text-transform: uppercase;
            opacity: 0;
            transition: all 1600ms; }
          #section-05 .section-05_slider--positioner .slider--item .slider_cover .hline {
            width: 100%;
            height: 5px;
            background-color: #333333;
            margin: 5px 0 15px 0;
            opacity: 0;
            transition: all 1600ms; }
          #section-05 .section-05_slider--positioner .slider--item .slider_cover .slider_cover--hash {
            text-transform: capitalize;
            opacity: 0;
            transition: all 1600ms; }
        #section-05 .section-05_slider--positioner .slider--item:hover .slider_cover {
          top: 0; }
          #section-05 .section-05_slider--positioner .slider--item:hover .slider_cover .slider_cover--title {
            opacity: 1; }
          #section-05 .section-05_slider--positioner .slider--item:hover .slider_cover .hline {
            opacity: 1; }
          #section-05 .section-05_slider--positioner .slider--item:hover .slider_cover .slider_cover--hash {
            opacity: 1; } }

#agencja-06 {
  margin-top: 4vw;
  width: 100%;
  padding: 0 2.25%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto; }
  #agencja-06 .agencja-06_title {
    width: 100%;
    text-align: center; }
  #agencja-06 .agencja-06_paragraph {
    width: 100%;
    text-align: center; }
  #agencja-06 .agencja-06_button {
    display: none; }
  #agencja-06 .agencja-06_img {
    width: 100%;
    margin-top: 26px; }
  #agencja-06 .agencja-06_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; }
    #agencja-06 .agencja-06_container .agencja-06-subtitle {
      line-height: 75px;
      width: 100%;
      text-align: center; }
    #agencja-06 .agencja-06_container .agencja-06-subparagraph {
      width: 100%;
      text-align: center;
      line-height: 33px; }
    #agencja-06 .agencja-06_container .agencja-06-subbutton {
      margin: 24px auto; }

@media only screen and (min-width: 900px) {
  #agencja-06 {
    width: 100%;
    padding: 0 7.295%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto; }
    #agencja-06 .agencja-06_title {
      grid-column-start: 1;
      grid-column-end: 3;
      width: 100%;
      text-align: center; }
    #agencja-06 .agencja-06_paragraph {
      grid-column-start: 1;
      grid-column-end: 3;
      width: 100%;
      text-align: center; }
    #agencja-06 .agencja-06_button {
      grid-column-start: 1;
      grid-column-end: 3;
      display: flex;
      margin: 3.84vw auto; }
    #agencja-06 .agencja-06_img {
      grid-column-start: 1;
      grid-column-end: 3;
      width: 100%;
      margin-top: 26px; }
    #agencja-06 .agencja-06_container {
      position: relative;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 88px auto 88px; }
      #agencja-06 .agencja-06_container:first-of-type {
        margin-left: 33%;
        margin-right: 16%; }
      #agencja-06 .agencja-06_container:last-of-type {
        margin-left: 0;
        margin-right: 49%; } }
    @media only screen and (min-width: 900px) and (max-width: 1222px) {
      #agencja-06 .agencja-06_container:first-of-type {
        margin-left: 16%;
        margin-right: 16%; }
      #agencja-06 .agencja-06_container:last-of-type {
        margin-left: 16%;
        margin-right: 16%; } }

@media only screen and (min-width: 900px) {
      #agencja-06 .agencja-06_container .agencja-06-subtitle {
        line-height: 75px;
        width: 100%;
        text-align: left; }
      #agencja-06 .agencja-06_container .agencja-06-subparagraph {
        width: 100%;
        text-align: left;
        line-height: 33px; }
      #agencja-06 .agencja-06_container .agencja-06-subbutton {
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2; } }

* {
  box-sizing: border-box; }

body {
  margin: 0; }
